
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>仓库调拨</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="panel panel-default">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">订单信息</h3>
            </div>
        </div>
        <table class="table">
            <tr><td>单据编号:</td><td><span id="num"> </span></td></tr>
            <tr><td>收货人姓名:</td><td><input type="text" id="name" /></td></tr>
            <tr><td>收货人地址:</td><td><input type="text" id="dizhi" /></td></tr>
            <tr><td>收货人电话:</td><td><input type="text" id="dainhua" /></td></tr>
            <tr><td>购买单价:</td><td><span id="danjia"> </span></td></tr>
            <tr><td>购买总数:</td><td><span id="zongshu"> </span></td></tr>
            <tr><td>应付金额:</td><td><span id="zongjine"> </span></td></tr>
            <tr><td>成交时间:</td><td><input type="date" id="chengjiao" /></td></tr>
            <tr><td>付款时间:</td><td><input type="date" id="fukuan" /></td></tr>
            <tr><td>确认收货时间:</td><td><input type="date" id="queren" /></td></tr>
            <tr><td>发货时间:</td><td><input type="date" id="fahuo" /></td></tr>
            <tr><td>顾客留言:</td><td><input type="text" id="liuyang" /></td></tr>
            <tr>
                <td>
                    <input id="Button1" type="button" value="确认结账" onclick="btnadd()" />

                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
 
    $(function () {
        //编号
        dajubian();
        FanTians();
       
    });
    //反填数据
    function FanTians() {
        var rid = parseInt($("#HiddenRId").val());
        //判断退货Id是否为空
        if (rid != 0) {
            $.ajax({
                url: "http://localhost:54063/api/Client?GetId=" + rid,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $(data).each(function () {
                        $("#danjia").val(data.book_Price);
                        $("#zongjine").val(data.quantity);
                        $("#zongjine").val(parseInt(data.book_Price) * parseInt(data.quantity));
                    });

                }
            });
        }
    }

    //单据编号随机生成
    function dajubian() {
        var myDate = new Date();

        var year = myDate.getFullYear();//获取当前年
        var month = myDate.getMonth(); //获取当前月
        var date = myDate.getDate();    //获取当前日

        var hour = myDate.getHours();       //获取当前小时数（0-23）
        var mintue = myDate.getMinutes();  //获取当前分钟数
        var secound = myDate.getSeconds();

        var now = getNow(date)+ getNow(hour) + getNow(mintue) + getNow(secound); /*year + getNow(month) + getNow(date);*/

        var nums = Math.random();
        //生成四位随机数
        out = Math.floor(Math.random() * 10000);

        $("#num").text("J" + now + out);
    }
    //判断是否在前面加0
    function getNow(s) {
        return s < 10 ? '0' + s : s;
    }
    //添加按钮
    function btnadd() {
        /// 单据编号
        var AllotCode = $("#num").text();
        if (AllotCode = null) {
            alert("输入不能为空");
            return;
        }
        /// 收货人姓名
        var name = $("#name").val();
        if (name = null) {
            alert("输入不能为空");
            return;
        }
        /// 收货人地址
        var dizhi = $("#dizhi").val();
        if (dizhi = null) {
            alert("输入不能为空");
            return;
        }
        ///收货人电话
        var dainhua = $("#dainhua").val();
        if (dainhua = null) {
            alert("输入不能为空");
            return;
        }
        
        /// 应付金额
        var zongjine = $("#zongjine").val();
        if (zongjine = null) {
            alert("输入不能为空");
            return;
        }
        /// 总数
        var zongshu = $("#zongshu").val();
        if (zongshu = null) {
            alert("输入不能为空");
            return;
        }
        /// 成交时间
        var chengjiao = $("#chengjiao").val();
        if (chengjiao = null) {
            alert("输入不能为空");
            return;
        }
        /// 付款时间
        var fukuan = $("#fukuan").val();
        if (fukuan = null) {
            alert("输入不能为空");
            return;
        }
        /// 确认
        var queren = $("#queren").val();
        if (queren = null) {
            alert("输入不能为空");
            return;
        }
        var obj = {};
        obj.OrderId = AllotCode;
        obj.AccountId = 1;
        obj.ConsigName = name;
        obj.ConsigAddress = dizhi;
        obj.ConsigTel = dainhua;
        obj.SaledMoney = zongjine;
        obj.BuyNum = zongshu;
        obj.ClinchTime = chengjiao;
        obj.PayTime = fukuan;
        obj.ConfirmTime = queren;
        obj.DeliveryTime = fahuo;
        obj.BuyerFreebACK = liuyang;
        obj.OrderStatue = "未发货";
        obj.PayStatues = "已支付";
        obj.DelivaeryStatue = "待确认收货";
        obj.ReplayStatue = "未评价";
        obj.SupplierId = "S1985623";
        $.ajax({
            url: "http://localhost:54063/api/Client/ADD",
            type: "post",
            data: JSON.stringify(obj),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data > 0) {
                    alert("结算成功");
                    
                    location.href = "/Client_/Model3";
                }
                else {
                    alert("结算失败");
                }
            }
        })
    }
</script>




