

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>


    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">           

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <!--登录页面-->
                        <li data-name="home" class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;" target="main_self_frame" lay-tips="主页" lay-direction="2">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>供应商管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="adds">
                                    <a href="javascript:;" target="main_self_frame">图书管理</a>
                                    <dl class="layui-nav-child">
                                        <dd data-name="list"><a href="/Supplier/BookOk" target="main_self_frame">可售图书</a></dd>
                                        <dd data-name="tags"><a href="/Supplier/BookRead" target="main_self_frame">销售中的图书</a></dd>
                                        <dd data-name="tags"><a href="/Supplier/BookCk" target="main_self_frame">仓库中的图书</a></dd>
                                    </dl>
                                </dd>

                                <dd data-name="adds">
                                    <a href="javascript:;" target="main_self_frame">交易管理</a>
                                    <dl class="layui-nav-child">
                                        <dd data-name="list"><a href="/Supplier/OrderOk" target="main_self_frame">已卖出商品</a></dd>
                                        <dd data-name="tags"><a href="/Supplier/OrderD" target="main_self_frame">等待买家付款</a></dd>
                                        <dd data-name="tags"><a href="/Supplier/OrderF" target="main_self_frame">等待发货</a></dd>
                                        <dd data-name="tags"><a href="/Supplier/OrderQ" target="main_self_frame">等待确认收获</a></dd>
                                    </dl>
                                </dd>
                                @*<dd data-name="adds">
                                    <a href="javascript:;" target="main_self_frame">退款管理</a>
                                    <dl class="layui-nav-child">
                                        <dd data-name="list"><a href="/Supplier/BookOk" target="main_self_frame">退款中</a></dd>
                                    </dl>
                                </dd>*@
                                <dd data-name="adds">
                                    <a href="javascript:;" target="main_self_frame">评价管理</a>
                                    <dl class="layui-nav-child">
                                        <dd data-name="list"><a href="/Supplier/ReplyAll" target="main_self_frame">查看全部评价</a></dd>
                                    </dl>
                                </dd>
                                <dd data-name="adds">
                                    <a href="javascript:;" target="main_self_frame">我的信息</a>
                                    <dl class="layui-nav-child">
                                        <dd data-name="list"><a href="/Supplier/UserOrder" target="main_self_frame">查看我的信息</a></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                      </ul>
                  </div>
            </div>
            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe name="main_self_frame" frameborder="0" class="layadmin-iframe" src="/Home/MaxZhu"></iframe>
                </div>
            </div>
            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
    <script src="../layuiadmin/layui/layui.js">
        ////跳转
        function refreshHighlight(url) {
            $ = layui.jquery;
            $(".layui-nav[lay-filter='navList'] a").each(function (ind, val) {
                if ($(this).attr('href') === url) {
                    $('.layui-nav dd').removeClass('layui-this');
                    $(this).parent('dd').addClass('layui-this');
                }
            })
        }
    </script>

    <script>
        layui.config({
            base: '../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use('index');


    </script>
</body>
</html>





