
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
    <link href="~/car.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/car.js"></script>

</head>
<body>
    @*<div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询</h2>
                <div class="layui-colla-content layui-show">
                    <div class="layui-input-inline">
                        <label>作者</label>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="AuthorName" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <label>书名</label>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="Title" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <label>出版社</label>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="Pubish" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <label>分类</label>
                    </div>
                    <div class="layui-input-inline">
                        <select id="Type" class="layui-form-select"></select>
                    </div>
                    <div class="layui-inline" style="width:100px;float:right">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" id="btnSelect">查询</button>
                    </div>
                </div>
            </div>
        </div>*@
    <div>
        <div class="w" id="shopping">
            <div class="cart-warp">
                <!-- 头部全选模块 -->
                <div class="cart-thead">
                    @*<div class="t-checkbox">
                        <input type="checkbox" name="" id="" class="checkall"> 全选

                    </div>*@
                    <div class="t-goods">商品</div>
                    <div class="t-price">单价</div>
                    <div class="t-num">数量</div>
                    <div class="t-sum">小计</div>
                    <div class="t-action">状态</div>

                </div>

                <!-- 商品详细模块 -->
                @*<div class="cart-item-list">
                        <div class="cart-item check-cart-item">
                            <div class="p-checkbox">
                                <input type="checkbox" name="" id="" checked class="j-checkbox">

                            </div>
                            <div class="p-goods">
                                <div class="p-img">
                                    <img src="img/p1.jpg" alt="">

                                </div>
                                <div class="p-msg">【5本26.8元】经典儿童文学彩图青少版八十天环游地球中学生语文教学大纲</div>

                            </div>
                            <div class="p-price">￥12.60</div>
                            <div class="p-num">
                                <div class="quantity-form">
                                    <a href="javascript:;" class="decrement">-</a>
                                    <input type="text" class="itxt" value="1">
                                    <a href="javascript:;" class="increment">+</a>

                                </div>

                            </div>
                            <div class="p-sum">￥12.60</div>
                            <div class="p-action"><a href="javascript:;">删除</a></div>

                        </div>
                    </div>*@
                <!-- 结算模块 -->
                @*<div class="cart-floatbar">
                        <div class="select-all">
                            <input type="checkbox" name="" id="" class="checkall">全选

                        </div>
                        <div class="operation">
                            <a href="javascript:;" class="remove-batch"> 删除选中的商品</a>
                            <a href="javascript:;" class="clear-all">清理购物车</a>

                        </div>
                        <div class="toolbar-right">
                            <div class="amount-sum">已经选<em>1</em>件商品</div>
                            <div class="price-sum">总价： <em>￥12.60</em></div>
                            <div class="btn-area">去结算</div>

                        </div>

                    </div>*@  <!-- cart-floatbar end -->

            </div>  <!-- cart-warp end -->

        </div>  <!-- w end -->

    </div>
</body>
</html>

<script>
    //layui.use('element', function () {
    //    var element = layui.element;
    //});

    //layui.use(['layer', 'form', 'table', 'util', 'admin', 'config'], function () {
    //    var form = layui.form;
    //    form.render(); //渲染页面
    //});

    $(function () {
        var pageSize = 10; //每页显示的数据条数
        var currentPageNo = 1; //当前页数

        //初始化获取值
        GetBookInfo(pageSize, currentPageNo);
        //查询
        //$("#btnSelect").click(function () {
        //    GetBookInfo(pageSize,currentPageNo);
        //});

    })

    //显示数据
    function GetBookInfo(pageSize,currentPageNo) {
        var Token = localStorage["Token"];
        $.ajax({
            url: "http://localhost:54063/api/Supplier/GetGoodFH?token=" + Token + "&pageName=" + currentPageNo + "&limitName=" + pageSize + "",
            type: "get",
            dataType: "json",
            success: function (result) {
                var str = "";
                $.each(result.data, function (i, n) {
                    var states = "";
                    if (n.OrderStatue=="未发货") {
                        states = "发货";
                    }
                    str+= '<div class="cart-item-list">'
                        +'<div class="cart-item check-cart-item">'
                        //+'<div class="p-checkbox">'
                        //+'<input type="checkbox" name="" id=""  class="j-checkbox">'
                        //+'</div>'
                        +'<div class="p-goods">'
                        +'<div class="p-img">'
                        +'<img src="" alt="">'
                        + '</div>'
                        + '<div class="p-msg">' + n.BookName + '</div>'
                        +'</div>'
                        +'<div class="p-price">￥'+n.BookPrice+'</div>'
                        +'<div class="p-num">'
                        +'<div class="quantity-form">'
                        +'<lable  class="itxt" >'+n.BuyNum+'</lable>'
                        +'</div>'
                        +'</div>'
                        +'<div class="p-sum">￥'+n.BookPrice+'</div>'
                        + '<div class="p-action"><a href="javascript:Upd();">' + states + '</a></div>'
                        +'<div id="orderId" hidden="hidden" >'+n.OrderId+'</div>'
                        +'</div>'
                        +'</div>';
                })
                $("#shopping").append(str);
            }
        })
    }
    function Upd() {
        var OrderId=$("#orderId").html();
        var Token = localStorage["Token"];
        $.ajax({
            url: "http://localhost:54063/api/Supplier/UpdGoodFH?token=" + Token + "&orderId=" + OrderId + "",
            type: "get",
            dataType: "json",
            success: function (result) {
                if (result>0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;

                        layer.msg('发货成功');
                    });
                    GetBookInfo(pageSize, currentPageNo);
                }
            }
        })
    }

$(".checkall").change(function () {
          // 当全选按钮改变时，让小复选框按钮和全选按钮保持一致（隐式迭代，不需要循环遍历）
          $(".j-checkbox, .checkall").prop("checked", $(this).prop("checked"));
          getSum();   // 计算总额函数
          // 添加背景
          // 判断是否是选中状态，是的话添加check-cart-item类，没有就移除
          if ($(this).prop("checked")) {
                  $(".cart-item").addClass("check-cart-item");

        } else {
        $(".cart-item").removeClass("check-cart-item");

        }
    })

    $(".j-checkbox").change(function () {
       if ($(".j-checkbox:checked").length === $(".j-checkbox").length) {
            $(".checkall").prop("checked", true);
       }
       else {
           $(".checkall").prop("checked", false);
        }
      getSum();
      // 当小复选框为选中状态时，改变背景颜色（添加check-cart-item类）
      if ($(this).prop("checked")) {
            $(this).parents(".cart-item").addClass("check-cart-item");
      }
      else {
           $(this).parents(".cart-item").removeClass("check-cart-item");
        }
    })

    //点击+按钮  文本框数字加1，小计加价
        $(".increment").click(function () {
            var n = $(this).siblings(".itxt").val();
            n++;
            $(this).siblings(".itxt").val(n);
            // 小计模块
            // num为获取过来的单价，用substr()截取字符串把前边的￥去掉
            var num = $(this).parents(".p-num").siblings(".p-price").html().substr(1);
            // toFixed(2)保留两位小数
            var price = (num * n).toFixed(2);
            $(this).parents(".p-num").siblings(".p-sum").html("￥" + price);
            getSum();
        })

        //点击-按钮 文本框数字减一 小计减价
        $(".decrement").click(function () {
            var n = $(this).siblings(".itxt").val();
            n <= 1 ? n : n--;
            $(this).siblings(".itxt").val(n);
            // 小计模块
            var num = $(this).parents(".p-num").siblings(".p-price").html().substr(1);
            // toFixed(2)保留两位小数
            var price = (num * n).toFixed(2);
            $(this).parents(".p-num").siblings(".p-sum").html("￥" + price);
            getSum();
        })

        //直接修改文本框改变数量
        $(".itxt").change(function () {
            var n = $(this).val();
            var num = $(this).parents(".p-num").siblings(".p-price").html().substr(1);
            // toFixed(2)保留两位小数
            var price = (num * n).toFixed(2);
            $(this).parents(".p-num").siblings(".p-sum").html("￥" + price);
            getSum();

        })


    //计算已选商品数及总额
    function getSum() {
      var count = 0;
      var money = 0;
      // 只遍历选中的商品   each遍历，i为索引，ele为对象
       $(".j-checkbox:checked").parents(".cart-item").find(".itxt").each(function (i, ele) {
              count += parseInt($(ele).val());   // 会有小误差，要取整一下
        })
            $(".amount-sum em").text(count);
       $(".j-checkbox:checked").parents(".cart-item").find(".p-sum").each(function (i, ele) {
            money += parseFloat($(ele).text().substr(1));
        })
            $(".price-sum em").text("￥" + money.toFixed(2));
    }

    // 删除单个商品
     $(".p-action a").click(function () {
            $(this).parents(".cart-item").remove();
            getSum();

    })
     // 删除选中商品
     $(".remove-batch").click(function () {
            $(".j-checkbox:checked").parents(".cart-item").remove();
            getSum();

    })
     // 清理购物车
     $(".clear-all").click(function () {
             $(".cart-item").remove();
             getSum();

     })
</script>