
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="../layuiadmin/layui/lay/modules/jquery.js"></script>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../layuiadmin/layui/layui.js"></script>

    <link href="../layuiadmin/layui/css/layui.css" rel="stylesheet" />
   


</head>
<body>
    <div style="height:50px;width:400px">
        <button id="Customer" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-xs" style="margin-left:50px;margin-top:20px" onclick="Gu()">顾客</button>
        <button id="UserRoderInfo" class="layui-btn layui-btn-warm layui-btn-radius layui-btn-xs" style="margin-left:50px;margin-top:20px" onclick="Gong()">供应商</button>
        <button id="ManageInfo" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-xs" style="margin-left:50px;margin-top:20px" onclick="Guan()">管理员</button>
    </div>

    <input id="status" hidden type="button" />

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" id="name" style="height:40px;width:100px">用户名：</label>
            <div class="layui-input-inline" style="margin-top:10px">
                <input type="text" id="username" placeholder="请输入用户名" class="input_long" />
                <i id="xing1" style="color:red">*</i>
            </div>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" id="pass" style="height:40px;width:100px">密码：</label>
            <div class="layui-input-inline" style="margin-top:10px">
                <input type="password" id="password" placeholder="请输入密码" class="input_long" />
                <i id="xing2" style="color:red">*</i>
            </div>
        </div>
    </div>

</body>
</html>

<script>

    function Gu() {

        document.getElementById('name').innerText = "顾客用户名：";
        document.getElementById('pass').innerText = "顾客密码：";
        $("#status").val("Customer")
       
    }

    //$("#username").blur(function () {

    //}

    $("#username").change(function () {
        if ($("#username").val().length > 4) {
            
            $("#xing1").hide()
        }
        else {
            $("#xing1").show()
        }
    })
    $("#password").change(function () {
        if ($("#password").val().length > 4) {
            $("#xing2").hide()
        }
        else {
            $("#xing2").show()
        }
    })

    function Gong() {
        document.getElementById('name').innerText = "供应商用户名：";
        document.getElementById('pass').innerText = "供应商密码：";
        $("#status").val("UserRoderInfo")
        //$("#status").val($("#UserRoderInfo"))
    }

    function Guan() {
        document.getElementById('name').innerText = "管理员用户名：";
        document.getElementById('pass').innerText = "管理员密码：";
        $("#status").val("ManageInfo")
        //$("#status").val($("#ManageInfo"))
    }

</script>
