
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookAdd</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>


    </style>
</head>
<body>
    <div>
        <table style="text-align:justify">
            <tr>
                <td>图书类别：</td>
                <td><select id="bookType">

                </select>
                </td>
                <td>ISBN：</td>
                <td><input id="TextISBN" type="text" /></td>
            </tr>
            <tr>
                <td>书名：</td>
                <td><input id="TextBookName" type="text" /></td>
                <td>作者名称：</td>
                <td><input id="TextAuthor" type="text" /></td>
            </tr>
            <tr>
                <td>出版社：</td>
                <td><input id="TextShe" type="text" /></td>
                <td>出版时间：</td>
                <td><input id="TextTime" type="date" /></td>
            </tr>
            <tr>
                <td>版次：</td>
                <td><input id="TextCI" type="text" /></td>
                <td>页数：</td>
                <td><input id="TextPage" type="text" /></td>
            </tr>
            <tr>
                <td>国家：</td>
                <td><input id="TextNation" type="text" /></td>
                <td>定价：</td>
                <td><input id="TextPrice" type="text" /></td>
            </tr>
            <tr>
                <td>图片：</td>
                <td>
                    <div style="position: relative;">
                        <input id="User_Photo" style="position: absolute; top: 0; bottom: 0; left: 0;right: 0; opacity: 0;" type="file" accept="image/gif, image/jpg, image/png" onchange="showImg(this)" />
                        <div style="text-align:right">
                            <img id="upload" src="/wwwroot/img/0.jpg" style="width: 80px; height: 80px; vertical-align: middle;" />
                        </div>
                    </div>
                </td>
                <td colspan="2">
                         
                
            </tr>
            <tr>
                <td>简介：</td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><input id="Button1" class="btn btn-warning btn-sm" type="button" value="提交" onclick="save()" /></td>
                <td><input id="Button1" class="btn btn-warning btn-sm" type="button" value="重置" onclick="back()" /></td>
            </tr>
        </table>
    </div>



</body>
</html>
<script>

    $(function ()
    {

        bookDrop();



    })


    //添加
    function save()
    {







    }
    







    //图书类别
    function bookDrop()
    {

        $.ajax({
            url: "http://localhost:54063/api/AdminControl/AllNextClassInfo",
            type: "get",
            success: function (data) {
                $("#bookType").empty();
                $("#bookType").append('<option value="">请选择</option>')
                $(data).each(function () {

                    $("#bookType").append('<option value="' + this.nclassId + '">' + this.nclassName + '</option>')

                });

            }


        })



    }

</script>
